version: '3.8'

services:
  api:
    build: ./InventorySalesAPI
    container_name: dotnet_api
    ports:
      - "5000:8080"
    depends_on:
      - db
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=master;User=sa;Password=Unicesar+2026;TrustServerCertificate=True;

  frontend:
    build: ./InventorySalesFront
    container_name: InventorySalesfrontend
    ports: 
      - "5173:5173"
    depends_on:
      - api

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Unicesar+2026
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

volumes:
  sql_data:
