version: '3.8'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Unicesar+2026
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P "Unicesar+2026" -C -Q "SELECT 1" || exit 1
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    networks:
      - app-network

  api:
    build: ./InventorySalesAPI
    container_name: dotnet_api
    ports:
      - "5000:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=InventorySales;User=sa;Password=Unicesar+2026;TrustServerCertificate=True;
    networks:
      - app-network

  frontend:
    build: ./InventorySalesFront
    container_name: InventorySalesfrontend
    ports:
      - "5173:5173"
    depends_on:
      - api
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  sql_data:
